body {
  background-color: #141414;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #69c4c6;
  text-align: center;
  padding: 1rem 0;
}

h1 {
  margin: 0;
}

nav {
  background-color: #1a1a1a;
  padding: 0.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border: 2px solid #69c4c6;
  border-radius: 10px;
}

a:hover {
  background-color: #69c4c6;
  color: #fff;
}

main {
  padding: 2rem;
}

h2 {
  color: #69c4c6;
}

.project-phases {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.project-phase {
  background-color: #1a1a1a;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.project-phase:hover {
  background-color: #69c4c6;
}

.phase-details {
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.doc-btn {
  display: block;
  margin-top: 1rem;
  background-color: #69c4c6;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.doc-btn:hover {
  background-color: #449a9c;
}

